name: C++ Compile Check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential

      - name: Compile C++ code
        run: |
          mkdir -p build
          g++ -Wall -Wextra -std=c++17 src/*.cpp -o build/program
